--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.5.0
matplotlib
numpy
pandas
jupyterlab
scikit-learn
botorch
gpytorch
git+https://github.com/FlowModelingControl/flowtorch.git@aweiner